<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <h1>TV Show {{show_id.id}}</h1>
    <h3>Title: {{show_id.title}}</h3>
    <h3>Network: {{show_id.network}}</h3>
    <h3>Release Date: {{show_id.release_date}}</h3>
    <h3>Description: {{show_id.desc}}</h3>
    <br><br>
    <h3>{{show_id.updated_at}}</h3>
    <a href="/shows" class="btn btn-outline-success btn-sm">redirect</a>

</body>

</html>